body {
    background: url(../images/spansih.jpg) no-repeat center center ;
    width: 400px;
    width: 100%;
}

#play-area {
    background-color:#012627;
    width: 40%;
    height: 500px;
    margin-left: 30%;
    margin-bottom:20px;
    margin-top: 5%;
    position: relative;
    border-radius: 20px;
}

#question-box {
    width: 500px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 30px;
    background-color:#EAEAEC;
    text-align: center;
}

 p {
    font-size: 150%;
    text-align: center;
    margin-top: 50px;
    padding-top: 12px;
    color:#EAEAEC;
}

.btn {
    width: 45%;
    height: 75px;
    margin-top: 30px;
    margin-left: 2.5%;
    background-color:#EAEAEC;
    border: none;
    border-radius: 45px;

}

.start-btn , .next-btn {
    width: 80%;
    margin-left:10%;
}

.btn:hover {
    background-color:#FED65D;
}

#score-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#012627;
    margin-left: 25%;
}
#score-holder::after {
    content:"Your Score";
 
}
#score {
    text-align: center;
    margin-top: 10px;
}

#progress-bar {
    float:right;
  margin-right: 20%;
    padding: 25px;
  
}
#progress-bar::before {
    content:"Time Left";
    padding-top:10px;
}

.hide {
    display: none;
}